name: ci

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v6
        with:
          node-version: lts/*

      - name: Install dependencies
        run: npm ci

      - name: Lint
        run: npm run lint

      - name: Test types
        run: npm run test:types

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v6
        with:
          node-version: lts/*

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build

  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        mariadb-version: [10, 10.6, latest]
    services:
      mariadb:
        image: mariadb:${{ matrix.mariadb-version }}
        ports:
          - 3306:3306
        env:
          MARIADB_ALLOW_EMPTY_ROOT_PASSWORD: 1
        options: >-
          --health-cmd="mysqladmin ping --silent"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v6
        with:
          node-version: lts/*

      - uses: oven-sh/setup-bun@v2

      - name: Install dependencies
        run: npm ci

      - name: Wait for MariaDB
        run: |
          until mysqladmin ping -h 127.0.0.1 -uroot --silent; do
            echo "Waiting for MariaDB"
            sleep 2
          done

      - name: Test node
        run: npm run test

      - name: Test bun
        run: bun run test
